body {
    background-color: black;
    color: white;
    font-family: monospace, sans-serif;
}

h1, p {
    text-align: center;
}
#game {
  max-width: 500px;
  max-height: 400px;
  background-color: #073f0c;
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
}
#text {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
  text-align: justify;
}
#controls,
#stats {
  border: 1px solid #ffffff;
  padding: 5px;
  color: #ffffff;
}
#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #7a0000;
}